<mat-toolbar fxLayoutAlign="space-between center">
  <a href="#"><img class="logo" src="assets/logo.png" /></a>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100%">
    <div class="divider"></div>
    <button mat-icon-button disableRipple>
      <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small"
        >notifications</mat-icon
      >
    </button>
    <div class="divider"></div>
    <button mat-icon-button disableRipple>
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>
