<mat-list>
  <mat-list-item class="menu">
    <button disableRipple mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button disableRipple mat-icon-button>
      <mat-icon>speed</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item class="active">
    <button disableRipple mat-icon-button>
      <mat-icon>military_tech</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button disableRipple mat-icon-button>
      <mat-icon>handyman</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button disableRipple mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button disableRipple mat-icon-button>
      <mat-icon>list_alt</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
