<form [formGroup]="inputForm">
  <h4 class="header">Assign one or more policy</h4>
  <div class="form-control extend-width">
    <mat-label>Select Policy:</mat-label>
    <div>
      <select #policy formControlName="policy" required>
        <option value="" hidden disabled>Select Policy</option>
        <option *ngFor="let po of policies" [value]="po._id">
          {{ po.name }}
        </option>
      </select>
      <button
        mat-flat-button
        color="warn"
        class="button"
        (click)="addPolicy(policy.value)"
      >
        Add
      </button>
    </div>
  </div>
  <h4 class="header" *ngIf="currentPolicy">
    Selected Policies & Configurations
  </h4>
  <div formArrayName="policies">
    <div *ngFor="let po of inputForm.get('policies').controls; let i = index">
      <mat-card *ngIf="currentPolicy">
        <mat-card-header>{{ getPolicyName(po) }}</mat-card-header>
        <mat-card-content>
          <div [formGroupName]="i">
            <div formGroupName="generateOptions">
              <mat-checkbox
                class="checkbox"
                formControlName="generateSmartToken"
                >Generate smart card/token</mat-checkbox
              >
              <mat-checkbox
                class="checkbox"
                formControlName="generateSoftwareKey"
                >Generation of software key</mat-checkbox
              >
              <mat-checkbox class="checkbox" formControlName="enableExternalCSR"
                >Enable use of an external CSR</mat-checkbox
              >
              <mat-checkbox
                class="checkbox"
                formControlName="generateSoftwareKeyServerSide"
                >Generation of Software key - Server Side</mat-checkbox
              >
            </div>
            <mat-radio-group formControlName="policy">
              <mat-radio-button value="certInvite"
                >Policy enabled on request pages</mat-radio-button
              >
              <mat-radio-button value="forcedCertInvite"
                >Policy enabled with cert invite option</mat-radio-button
              >
              <mat-radio-button value="disableRequestPage"
                >Policy enabled with forced cert invite</mat-radio-button
              >
              <mat-radio-button value="enableRequestPage"
                >Policy disabled on request pages</mat-radio-button
              >
            </mat-radio-group>
            <div formGroupName="raOptions">
              <div formGroupName="requiredCertOrders">
                <div class="form-control">
                  <mat-label
                    >RA Operators required for certificate orders:</mat-label
                  >
                  <div>
                    <select formControlName="value" required>
                      <option
                        *ngFor="let count of [1, 2, 3, 4, 5]"
                        [value]="count"
                      >
                        {{ count }}
                      </option>
                    </select>
                  </div>
                </div>
                <mat-radio-group formControlName="bypass">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div formGroupName="requiredCertStatus">
                <div class="form-control">
                  <mat-label
                    >RA Operators required for certificate status
                    request:</mat-label
                  >
                  <div>
                    <select formControlName="value" required>
                      <option
                        *ngFor="let count of [1, 2, 3, 4, 5]"
                        [value]="count"
                      >
                        {{ count }}
                      </option>
                    </select>
                  </div>
                </div>
                <mat-radio-group formControlName="bypass">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="form-control">
                <mat-label
                  >RA Operators required for key recovery requests if policy
                  contain archival:</mat-label
                >
                <div>
                  <select formControlName="requiredKeyRecovery" required>
                    <option
                      *ngFor="let count of [1, 2, 3, 4, 5]"
                      [value]="count"
                    >
                      {{ count }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="currentPolicy">
    <button mat-flat-button color="primary" class="button" (click)="save()">
      Save & Continue
    </button>
    <button mat-flat-button color="warn" class="button" matStepperPrevious>
      Cancel
    </button>
  </div>
</form>
